name: Build Android App

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'master' # 关键修改：使用 master 分支以获取最新版本 (3.38+)
      
      - name: Get Dependencies
        working-directory: simple_live_app
        run: flutter pub get

      - name: Build APK
        working-directory: simple_live_app
        run: |
          # 使用 release 构建，跳过签名
          flutter build apk --release --no-codesign

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: simple-live-android-app
          path: simple_live_app/build/app/outputs/flutter-apk/app-release.apk
          retention-days: 5
