name: Build Android App

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'master' # 关键修改：使用 master 分支以获取最新版本 (3.38+)
      
      - name: Get Dependencies
        working-directory: simple_live_app
        run: flutter pub get

      - name: Build APK
        working-directory: simple_live_app
        run: |
          # 修正：去掉了错误的 --no-codesign 参数
          flutter build apk --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: simple-live-android-app
          # 注意：如果下面这一步报错找不到文件，说明 release 必须要有签名
          # 那时我们需要改成打 debug 包
          path: simple_live_app/build/app/outputs/flutter-apk/app-release.apk
          retention-days: 5
