name: Build Android App (Debug)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'master' # 保持 master，因为之前验证了依赖需要这个

      - name: Get Dependencies
        working-directory: simple_live_app
        run: flutter pub get

      - name: Build APK (Debug)
        working-directory: simple_live_app
        run: |
          # 关键修改：改为 debug 模式，彻底绕过签名验证
          flutter build apk --debug

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: simple-live-android-debug
          # 注意：输出路径也变了，是 app-debug.apk
          path: simple_live_app/build/app/outputs/flutter-apk/app-debug.apk
          retention-days: 5
